<header class="site-header">

  <div class="container txt-center">

    <nav class="navbar">
      <ul>
        <li><a href="{{ "/" | prepend: site.baseurl }}">home</a></li>
        <li class="divider">&bull;</li>
        <li><a href="{{ "/about" | prepend: site.baseurl }}">about</a></li>
      </ul>
    </nav>

    <a href="{{ "/" | prepend: site.baseurl }}" class="author-thumb">
      <img src="{{ "/images/author.jpg" | prepend: site.baseurl }}" alt="Author thumbnail" class="dot">
    </a>
    <h1>Hi, I'm Andrew <small>I post stuff here</small></h1>

  </div>

</header>
